* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  height: 100vh;
  font-family: "poppins";
}

nav {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  font-size: 24px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-item {
  padding: 0 30px;
  font-weight: 400px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 200px;
}

.contact-button {
  width: 200px;
  height: 50px;
  background: #6633ff;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins";
}

.contact-button:hover {
  background-color: #5926f0;
}

.menu-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #6633ff;
  border-radius: 1.5px;
  transition: 0.3s ease;
}

.menu-item.active::after {
  width: 100%;
}

.menu-item:hover::after {
  width: 100%;
}

.menu-item.active {
  font-weight: 500;
}

main {
  height: 75%;
  padding: 0 200px;
}

.packages-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.package-item {
  width: 25%;
  height: 500px;
  border: 4px solid #6633ff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-title {
  text-align: center;
  font-size: 36px;
}

.price-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #6633ff;
  text-align: center;
  line-height: 150px;
  position: relative;
  color: white;
  font-size: 48px;
}

.per-month {
  position: absolute;
  font-size: 18px;
  text-align: center;
  width: 100%;
  top: 35px;
  left: 0;
}

.feature-list-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-list-item {
  font-size: 24px;
}

footer {
  height: 15%;
  position: relative;
}

svg {
  height: 100%;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}
